.messageBox {
  width: 850px;
  border: 1px solid black;
  position: fixed;
  padding: 20px 20px 40px 20px;

  .messageList {
    padding: 15px;
    float: left;
    background-color: #d9d9d9;
    .messages {
      height: 400px;
      width: 320px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .inputFormBox {
    float: left;
    margin-left: 15px;
    width: 470px;

    .message {
      float: left;
      width: 300px;

      input.small {
        width: 15px;
        margin: 3px;
      }
      input.medium {
        width: 75px;
        margin: 3px;
      }
    }

    .buttons {
      float: right;

      input {
        margin: 5px;
      }
    }
  }

  .message {
    min-width: 300px;
    margin: 1px;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    display: flex;

    .messageWrapper {
      padding: 5px;

      h4 {
        margin: 0;
      }
    }
  }

  .destroyButtons {
    position: absolute;
    bottom: 5px;
  }
  .filterButtons {
    margin-bottom: 2px;

    .ck-button {
      float:left;
      width: 25%;
      height: 30px;
      line-height: 30px;
      label {
        float: left;
        width: 100%;
      }
      label span {
        text-align:center;
        display:block;
        cursor: pointer;
      }
      label input {
        position:absolute;
        top: -50px;
      }
      input:checked + span {
        text-decoration: line-through;
      }
    }
  }

  .localization {
    background-color: #b0c3d9;
  }
  .plural {
    background-color: #d99791;
  }
  .parametrizable {
    background-color: #91cf4e;
  }
  .date {
    background-color: #d0c8db;
  }
}

.clear {
  clear: both;
}
