.messageBox {
  width: 850px;
  border: 1px solid black;
  position: fixed;
  padding: 20px 20px 40px 20px; }
  .messageBox .messageList {
    padding: 15px;
    float: left;
    background-color: #d9d9d9; }
    .messageBox .messageList .messages {
      height: 400px;
      width: 320px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column-reverse; }
  .messageBox .inputFormBox {
    float: left;
    margin-left: 15px;
    width: 470px; }
    .messageBox .inputFormBox .message {
      float: left;
      width: 300px; }
      .messageBox .inputFormBox .message input.small {
        width: 15px;
        margin: 3px; }
      .messageBox .inputFormBox .message input.medium {
        width: 75px;
        margin: 3px; }
    .messageBox .inputFormBox .buttons {
      float: right; }
      .messageBox .inputFormBox .buttons input {
        margin: 5px; }
  .messageBox .message {
    min-width: 300px;
    margin: 1px;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    display: flex; }
    .messageBox .message .messageWrapper {
      padding: 5px; }
      .messageBox .message .messageWrapper h4 {
        margin: 0; }
  .messageBox .destroyButtons {
    position: absolute;
    bottom: 5px; }
  .messageBox .filterButtons {
    margin-bottom: 2px; }
    .messageBox .filterButtons .ck-button {
      float: left;
      width: 25%;
      height: 30px;
      line-height: 30px; }
      .messageBox .filterButtons .ck-button label {
        float: left;
        width: 100%; }
      .messageBox .filterButtons .ck-button label span {
        text-align: center;
        display: block;
        cursor: pointer; }
      .messageBox .filterButtons .ck-button label input {
        position: absolute;
        top: -50px; }
      .messageBox .filterButtons .ck-button input:checked + span {
        text-decoration: line-through; }
  .messageBox .localization {
    background-color: #b0c3d9; }
  .messageBox .plural {
    background-color: #d99791; }
  .messageBox .parametrizable {
    background-color: #91cf4e; }
  .messageBox .date {
    background-color: #d0c8db; }

.clear {
  clear: both; }
