.messageBox {
  position: fixed;
  padding: 20px 20px 40px 20px; }
  .messageBox .messageList {
    padding: 15px;
    float: left;
    background-color: #d9d9d9; }
    .messageBox .messageList .messages {
      height: 700px;
      width: 320px;
      overflow-y: scroll;
      flex-direction: column-reverse; }
      .messageBox .messageList .messages ul {
        margin: 0;
        padding: 0; }
  .messageBox .message {
    min-width: 300px;
    margin: 1px;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    display: flex; }
    .messageBox .message button {
      display: block;
      width: 100%;
      color: black;
      border: none; }
    .messageBox .message .messageWrapper {
      padding: 5px; }
      .messageBox .message .messageWrapper h4 {
        margin: 0; }
  .messageBox .localization {
    background-color: #b0c3d9; }
  .messageBox .plural {
    background-color: #d99791; }
  .messageBox .parametrizable {
    background-color: #91cf4e; }
  .messageBox .date {
    background-color: #d0c8db; }

.clear {
  clear: both; }
