.messageBox {
  position: fixed;
  padding: 20px 20px 40px 20px;

  .messageList {
    padding: 15px;
    float: left;
    background-color: #d9d9d9;
    .messages {
      height: 700px;
      width: 320px;
      overflow-y: scroll;
      flex-direction: column-reverse;

      ul {
        margin: 0;
        padding: 0;
      }
    }
  }

  .message {
    button {
      display: block;
      width: 100%;
      color: black;
      border: none;
    }
    min-width: 300px;
    margin: 1px;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    display: flex;

    .messageWrapper {
      padding: 5px;

      h4 {
        margin: 0;
      }
    }
  }

  .localization {
    background-color: #b0c3d9;
  }
  .plural {
    background-color: #d99791;
  }
  .parametrizable {
    background-color: #91cf4e;
  }
  .date {
    background-color: #d0c8db;
  }
}

.clear {
  clear: both;
}
