<!DOCTYPE html>
<html>
<head>
    <title>Hello Ember</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
    <script src="http://builds.emberjs.com/tags/v1.10.0/ember-template-compiler.js"></script>
    <script src="http://builds.emberjs.com/tags/v1.10.0/ember.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ember-data.js/1.0.0-beta.16/ember-data.min.js"></script>
    <script src="assets/ember-animate.js"></script>

    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
<script type="text/x-handlebars" data-template-name="index">
    <div id="content">
        <div class="messageBox">
            <div class="messageList">
                <div class="filterButtons">
                    <div class="ck-button localization">
                        <label>
                            {{ input type="checkbox" checked=filter.localization }}
                            {{#if filter.localization }}
                                <span>{{ gettext 'Off' }}</span>
                            {{ else }}
                                <span>{{ gettext 'On' }}</span>
                            {{/if }}
                        </label>
                    </div>
                    <div class="ck-button plural">
                        <label>
                            {{ input type="checkbox" checked=filter.plural }}
                            {{#if filter.plural }}
                                <span>{{ gettext 'Off' }}</span>
                            {{ else }}
                                <span>{{ gettext 'On' }}</span>
                            {{/if }}
                        </label>
                    </div>
                    <div class="ck-button parametrizable">
                        <label>
                            {{ input type="checkbox" checked=filter.parametrizable }}
                            {{#if filter.parametrizable }}
                                <span>{{ gettext 'Off' }}</span>
                            {{ else }}
                                <span>{{ gettext 'On' }}</span>
                            {{/if }}
                        </label>
                    </div>
                    <div class="ck-button date">
                        <label>
                            {{ input type="checkbox" checked=filter.date }}
                            {{#if filter.date }}
                                <span>{{ gettext 'Off' }}</span>
                            {{ else }}
                                <span>{{ gettext 'On' }}</span>
                            {{/if }}
                        </label>
                    </div>
                    <div class="clear"></div>
                </div>
                <span class="messages">
                    {{#each message in controller}}
                        {{ render 'message' message }}
                    {{else}}
                        {{ gettext 'No messages' }}
                    {{/each}}
                </span>
            </div>
            <div class="destroyButtons">
                <input type="button" value="-1" {{ action 'removeMessage' 1 }}>
                <input type="button" value="-10" {{ action 'removeMessage' 10 }} >
                <input type="button" value="-100" {{ action 'removeMessage' 100 }} >
            </div>
            <div class="inputFormBox">
                <div class="inputForm">
                    <div class="message localization">
                        <div class="messageWrapper">
                            <h4 class="messageTitle">{{ gettext 'Localization' }}</h4>
                            <div class="messageText">{{ gettext 'Simple message' }}</div>
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="button" value="+1" {{ action "addMessage" 1 'Localization' 'localization' 'Simple message' }} />
                        <input type="button" value="+10" {{ action "addMessage" 10 'Localization' 'localization' 'Simple message' }} />
                        <input type="button" value="+100" {{ action "addMessage" 100 'Localization' 'localization' 'Simple message' }} />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="inputForm">
                    <div class="message plural">
                        <div class="messageWrapper">
                            <h4 class="messageTitle">{{ gettext 'Plural form' }}</h4>
                            <div class="messageText"><span>{{ gettext 'We have' }}</span>{{input type="text" value=kittensCount size="1"}}<span>{{ gettext 'kittens' }}</span></div>
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="button" value="+1" {{ action "addMessage" 1 'Plural form' 'plural' 'We have %1 kittens' kittensCount }} />
                        <input type="button" value="+10" {{ action "addMessage" 10 'Plural form' 'plural' 'We have %1 kittens' kittensCount }} />
                        <input type="button" value="+100" {{ action "addMessage" 100 'Plural form' 'plural' 'We have %1 kittens' kittensCount }} />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="inputForm">
                    <div class="message parametrizable">
                        <div class="messageWrapper">
                            <h4 class="messageTitle">{{ gettext 'Parametrization' }}</h4>
                            <div class="messageText"><span>{{ gettext 'City' }}</span>{{input type="text" value=cityOne size="1"}}<span>{{ gettext 'is unknown, did you mean' }}</span>{{input type="text" value=cityTwo size="1"}}<span>?</span></div>
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="button" value="+1" {{ action "addMessage" 1 'Parametrization' 'parametrizable' 'City %1 is unknown, did you mean %2?' cityOne cityTwo }} />
                        <input type="button" value="+10" {{ action "addMessage" 10 'Parametrization' 'parametrizable' 'City %1 is unknown, did you mean %2?' cityOne cityTwo }} />
                        <input type="button" value="+100" {{ action "addMessage" 100 'Parametrization' 'parametrizable' 'City %1 is unknown, did you mean %2?' cityOne cityTwo }} />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="inputForm">
                    <div class="message date">
                        <div class="messageWrapper">
                            <h4 class="messageTitle">{{ gettext 'Dates' }}</h4>
                            <div class="messageText"><span>{{ gettext 'Today is ' }}</span><span>{{ getdate }}</span></div>
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="button" value="+1" {{ action "addMessage" 1 'Dates' 'date' 'Today is %1' date }} />
                        <input type="button" value="+10" {{ action "addMessage" 10 'Dates' 'date' 'Today is %1' date }} />
                        <input type="button" value="+100" {{ action "addMessage" 100 'Dates' 'date' 'Today is %1' date }} />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="message">
    <div {{bind-attr class="type :message"}}>
        <div class="messageWrapper">
            <h4 class="messageTitle">
                {{ title }}
            </h4>
            <div class="messageText">
                {{ text }}
            </div>
        </div>
    </div>
</script>

<script src="assets/script.js"></script>
</body>
</html>